body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url("headPic.jpg");*/
  background-image: url('wood.jpg');
  color: #fff;
  border: 5px solid #777;
  margin: 2em auto;
  padding: 2em;
  width: 75%;

}

a {
  color: #00B7FF;
}

.stuff-form {
  max-width: 400px;
}
.homeScreen{
  height:250px;
  content:url(shop.gif);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.jumbotron{
  text-align: center;
}

.jumbotron h1{
  color:navy;
}
.welcome{
  text-align: center;
  color:white;
}
.loginButts{
  text-align: center;
  margin:15px;
}


.button-container form,
.button-container form div{
  display:inline;
  /*width:12%;*/
}
.button-container button{
  display:inline;
  vertical-align:middle;
  width:15%;
}


.bankButt{
width:300px;
height:150px;
border-radius:50%;
font-size:45px;
color:#fff;
/*line-height:500px;*/
display:flex;
justify-content: center;
align-items: center;
text-align:center;
background:#000;
}
.bankContain{
  /*position: relative;*/
  top: -140px;
  float:right;
}
.bankContain button{
  margin-left: 120px;
  margin-top: 4px;
}
.button-container p{
  display: inline-block;
}
.itemPic{
  width: 20%;
  height: auto;
}

.things{
  margin-left: 20%;
}

#new{
  margin-left: 30%;
}



